h1 {
    font-family: Raleway, sans-serif;
    text-align: center;
}
h2, h3 {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    /* identical to box height */
    align-items: flex-end;
    letter-spacing: -0.02em;
    text-align: center;
}
p, a, label {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;
    text-align: center;
}
button {
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    border: solid lightgray 3px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
}
.description {
    display: block;
    font-size: 20px;
    max-width: 800px;
    margin: auto;
}
#get-started {
  background-color: lightgray;
}

/* STYLE ALL MENUS */
.topnav {
    width: 100%;  
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
} 
/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: lightgray;
    color: black;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
/* The sidebar menu */
.sidebar {
    display: none;
    float: left;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: left;
    font-size: 40px;
    color: black;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    top: 0;
    right: 30px;
    text-align: right;
    padding-right: 15px;
    margin-left: 15px;
    font-size: 50px;
    padding-bottom: 15px;
}
/* The button used to open the sidebar */
.openbtn {
    display: none;
    float: left;
    font-size: 40px;
    cursor: pointer;
    color: lightgray;
    border: none;
}

/* FOR MOBILE/SMALL SCREENS */
@media screen and (max-width: 500px) {
    .topnav {
        display: none;
      }
    .sidebar {
        display: block;
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 20px;
    }
    .sidebar a.active {
        background-color: white;
        border: solid 3px light;
        color: black;
    }
    /* use hamburger dropdown menu */
    .openbtn {
      display: flex;
      text-align: left;
      height: 50px;
      width: 50px;
      float: left;
    }
    .grid-container {
      grid-template-columns: repeat(1, 1fr);
    }
}